#Pedimos que ignore las carpetas que no queremos que se carguen a github
pruebas/

#Que no cargue las credenciales
client_secret_388702296994-rkp8m5nlm6g1e4uvrc1l73tof8jd3p02.apps.googleusercontent.com.json

#Pedimos que ignore el .gitignore
.gitignore